body{
    margin: 0;
    padding: 0;
    background-color:#212121;
}
h1{
    color:white;
}
.container{
    text-align: center;
}
.calculator{
    display: inline-block;
    border : 2px solid black;
    padding: 10px;
    background-color:rgb(68 68 68);
    border-radius: 10px;
}
table{
    margin: auto;
}
.digit{
    border-radius: 8px;
    
    width: 94%;
    height: 20px;
    margin-bottom: 5px;
}
button{
    width: 42px;
    height: 30px;
    border-radius: 8px;
    border : 1.5px solid black;
    background-color: #e4e4e4;
}